@font-face {
  font-family: "iconfont"; /* Project id 4424684 */
  src: url('iconfont.woff2?t=1706260467475') format('woff2'),
       url('iconfont.woff?t=1706260467475') format('woff'),
       url('iconfont.ttf?t=1706260467475') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-content-courses:before {
  content: "\e61a";
}

.icon-others-ppt:before {
  content: "\e68a";
}

.icon-others-image:before {
  content: "\e68b";
}

.icon-others-excel:before {
  content: "\e68c";
}

.icon-others-audio:before {
  content: "\e68d";
}

.icon-others-pdf:before {
  content: "\e68e";
}

.icon-others-text:before {
  content: "\e68f";
}

.icon-others-word:before {
  content: "\e690";
}

.icon-others-url:before {
  content: "\e691";
}

.icon-others-video:before {
  content: "\e692";
}

.icon-others-no-video:before {
  content: "\e693";
}

.icon-others-picture-default:before {
  content: "\e698";
}

.icon-others-zip:before {
  content: "\e69c";
}

.icon-others-other:before {
  content: "\e69e";
}

.icon-big-zip:before {
  content: "\e6a6";
}

.icon-big-audio:before {
  content: "\e6a7";
}

.icon-big-text:before {
  content: "\e6a8";
}

.icon-big-image:before {
  content: "\e6a9";
}

.icon-big-video:before {
  content: "\e6aa";
}

.icon-big-excel:before {
  content: "\e6ab";
}

.icon-big-url:before {
  content: "\e6ac";
}

.icon-big-ppt:before {
  content: "\e6ad";
}

.icon-big-pdf:before {
  content: "\e6ae";
}

.icon-big-word:before {
  content: "\e6af";
}

.icon-big-other:before {
  content: "\e6b0";
}

